@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/advantages';
@import 'blocks/expert';
@import 'blocks/benefits';


*
    font-family: 'Roboto', sans-serif;

html,body
    margin: 0
    padding: 0
.container
    width: 1140px
    height: 100%
    margin: 0 auto
