.advantages
	max-width: 100%
	min-height: 895px
	color: #fff
	.without__prengi
		display: flex
		margin-top: 80px
		justify-content: space-between
		.without__prengi_block
			display: block
			position: relative
			align-items: center
			width: 360px
			height: 255px
			.without__prengi_text
				position: absolute
				transform: translate(-50%,165px)
				left: 50% 
				width: 100%
				font-size: 18px
				font-weight: 300
				text-align: center
				color: #393939
				z-index: 1
			.without__prengi_img
				position: absolute
				width: 360px
				height: 255px
				z-index: -1

	.advantages__arrows
		display: flex
		padding-top: 50px
		margin: 0 auto
	.advantages__title
		margin-top: 33px
		font-size: 48px
		font-weight: 700
		text-align: center
		color: #393939
	.with__prengi
		display: flex
		margin-top: 37px
		justify-content: space-between
		.with__prengi_block
			display: block
			position: relative
			align-items: center
			width: 360px
			height: 255px
			.with__prengi_text
				position: absolute
				transform: translate(-50%,165px)
				left: 50% 
				width: 100%
				font-size: 18px
				font-weight: 700
				text-align: center
				color: #393939
				z-index: 1
			.with__prengi_img
				position: absolute
				width: 360px
				height: 255px
				z-index: -1